<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand title" routerLink="">Tour of Heroes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated$ | async;">
                    <div ngbDropdown class="d-inline-block">
                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Hero
                            Stable</a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <a ngbDropdownItem routerLink="get-heroes">View Hero Roster</a>
                            <a ngbDropdownItem routerLink="add-hero">Add a hero</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span *ngIf="auth.user$ | async as user" class="nav-link d-flex">Hey, {{user.name}}! </span>
        <app-auth-button></app-auth-button>
    </div>
</nav>