@{
    ViewData["Title"] = "ToH II: MVCverse";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Tour of Heroes App version 2.0 with ASP.NET Core MVC</p>
</div>
<!--Example of a weakly typed view-->