/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: url("https://i.imgur.com/WKDC9dg.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transparent {
  background-color: rgba(300, 300, 300, 0.75);
  padding: 1%;
  margin-top: 1%;
  border-radius: 5px;
}
